.N{
 background-image:url(https://png.pngtree.com/background/20211215/original/pngtree-three-child-policy-three-child-red-and-concise-picture-image_1475266.jpg);
 width: 100%;
 height:600px;
 background-attachment: cover;
 background-repeat: no-repeat;
 background-size: cover;
 
 
}
.welcome{
    top:50px;
    font-size: 30px;
}
.image{
    padding-left: 300px;
    margin: 300px;
}
